* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto Condensed";
  box-sizing: border-box;
  font-size: 20px;
  background-color: #fdf8f0;
  color: #c14947;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
}

section {
  height: 100%;
  width: 75%;
  position: relative;
}

img {
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0;
}

.logo {
  position: absolute;
  height: 5.75rem;
  width: 5.75rem;
  top: 0.5rem;
  left: 0.5rem;
  border-radius: 50%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  width: inherit;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.discount {
  font-size: 2.75rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-top: 3rem;
}

.subscription {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.form {
  height: 75%;
  width: inherit;
  display: flex;
  flex-direction: column;
}

.join {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.45rem;
}

.application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55%;
  width: 100%;
}

.full_name,
.contact,
.passwords {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.first,
.last,
.email,
.phone,
.password,
.confirm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  font-size: 0.75rem;
  margin-bottom: 0.05rem;
}

input {
  height: 1.65rem;
  width: 20rem;
  margin-bottom: 1.125rem;
  border: 0.0125rem solid #c14947;
  border-radius: 3px;
  background-color: white;
  padding-left: 5px;
  color: #c14947;
}

input:autofill {
  -webkit-text-fill-color: #da3d20;
}

input:focus {
  outline: none;
  border: 0.125rem solid #ff4f00;
}

.account {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #fdf8f0;
  border: 0.0125rem solid #c14947;
  color: #c14947;
  width: 12rem;
  height: 2.8rem;
  font-size: 1.125rem;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 2rem;
}

button:hover {
  background-color: #da3d20;
  color: #fdf8f0;
}
